{% extends 'shop/basic.html' %}
{% block title%}Order Tracker{% endblock %}
{% block body%}
<div class="container">
    <div class="order">
    <h1>Your order is placed</h1>
     <span id="orderId"></span>
    
<p>Use This Id to track Your Order</p>

    <hr>
    <div class="payment d-none" >
    <p>Here is the RazerPay Payment details</p>
    <span class="my-3" id="item1"></span>
    <span class="my-3" id="item2"></span>
    <span class="my-3" id="item3"></span>
</div>
    </div>

    {% endblock %}

{% block js %}
<script>
    var Responce;
    //item show in cart
    if (localStorage.getItem('Responce') == null) {
        Responce = {};
    }
    else {
        Responce = JSON.parse(localStorage.getItem('Responce'));
    }
    console.log(Responce)
for (item in Responce) {
            const rPaymentId = Responce.razorpay_payment_id;
            const rOrderId = Responce.razorpay_order_id;
            const rSignature = Responce.razorpay_signature;
            const iD = Responce.orderId
            myOI= `
            <div class=" mx-4">
                <span id=""  class="mx-5"><h5>${rOrderId}</h5></span>
            </div>
            `
            myPI= `
            <div class=" mx-4">
                <span id="2"  class="mx-5"><h5>${rPaymentId}</h5></span>
            </div>
            `
            mySign= `
            <div class=" mx-4">
                <span id="3"  class="mx-5"><h5>${rSignature}</h5></span>
            </div>
            `
            myiD= `
            <div class=" ">
                <span id="3"  class="mx-5"><h5>Here is the order id of your Order -<strong>${iD}</strong></h5></span>
            </div>
            `

        }
                    $('#item1').append(myOI)
                    $('#item2').append(myPI)
                    $('#item3').append(mySign)
                    $('#orderId').append(myiD)
                 
        </script>
{% endblock %}